
<div class="container">
  <h1 class="my-4">Serviços</h1>
  <div id="servicesAccordion">
    <!-- Aqui você irá iterar sobre os serviços e criar o acordeão -->
    <!-- Este é um exemplo estático. Em uma aplicação real, você iteraria sobre dados dinâmicos -->
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Serviço 1
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#servicesAccordion">
        <div class="card-body">
          Informações sobre o Serviço 1.
        </div>
         <div class="card-body">
          Informações sobre o Serviço 1.
        </div>
      </div>
    </div>
    <!-- Adicione mais cartões para cada serviço que você tem -->
  </div>
</div>
