<div class="container about-container mb-5">
  <!-- Section: Intro -->
  <div class="text-main py-5 text-center bg-light rounded">
    <h1 class="color-custom mt-5 mb-4"><i class=" color-custom mt-5 mb-4 fa-solid fa-tower-broadcast"></i> Sobre a nossa empresa que atua pensando em você!</h1>
  </div>

  <!-- Section: About Company -->
  <div class="row mt-5">
    <div class="col-md-8">
      <h2 class="color-custom mt-5 mb-4">Sobre a Empresa</h2>
      <p>
        <strong>INTEGRATAX CONSULTORIA TRIBUTÁRIA & CONTABILIDADE</strong>
        Dedicação e paixão em te atender, nossa missão como escritório é trazer segurança, clareza, e objetividade aos empreendedores na construção de seus negócios.
        Soluções contábeis são voltadas para as médias e pequenas empresas de todo Brasil.
      </p>
      <p>
        <strong>A INTEGRATAX</strong> faz parte do grupo <strong>FHAROS ASSESSORIA CONTABILIDADE & GESTÃO</strong>, empresa atuante no mercado contábil há mais de 30 anos. O nascimento da <strong>INTEGRATAX</strong> se deu graças à vivência da FHAROS no mercado contábil, onde se viu a necessidade do nascimento de uma nova empresa focada na prestação de serviço contábil, voltada para o segmento de serviços e aos profissionais liberais.
        Atuando também em consultoria tributária/contábil além de treinamento interno para as equipes.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag "logo13.png", class: "img-fluid mb-3 rounded" %>
      <%= image_tag "logo17.png", class: "img-fluid mb-3 rounded" %>
    </div>
  </div>

  <!-- Section: About Marcia -->
  <div class="row mt-5">
    <div class="col-md-12">
      <h2 class="color-custom mt-5 mb-4">Sobre Mim</h2>
      <p>
        Márcia Ramos vem de uma família humilde, filha de pai e mãe batalhadores. Minha mãe, mesmo sem saber ler e escrever apenas seu nome, foi o meu grande exemplo. Uma mulher com um caráter impecável, detentora de força mental e espiritual, que até hoje, em minhas dificuldades, me pergunto o que ela faria!
      </p>
      <p>
        Boa parte do que sou hoje é fruto do aprendizado que tive com ela e das relações de confiança e respeito que ela tinha em seu meio de trabalho e comércio local onde morávamos. Neste ínterim da vida da D. Maria, como era chamada, construí meu caráter. Ela era auxiliar de limpeza em um banco, todos a respeitavam e a tratavam muito bem. Nunca sofri nenhum assédio por ser filha da faxineira; pelo contrário, sempre fui bem tratada em todos os locais. Sempre queria estar perto dela. Saía da escola e ia para o trabalho para ajudar ela a terminar o trabalho e voltar logo pra casa, para ficarmos juntas – eu, ela, os cachorros e meus irmãos. Tempo bom...
      </p>
      <p>
        Como me sentia muito bem e confortável neste ambiente, meu primeiro desejo de profissão foi ser auxiliar de limpeza. Depois pensei em educação física e, por fim, contabilidade, que é a minha paixão, onde procuro aprender a cada dia, através de cursos, especializações e também com a minha escola ambulante, a Sra. Dora Ramos, outro exemplo de força, determinação e fé. Com ela sigo o caminho contábil, com os aprendizados obtidos na infância pela minha mãe, buscando atender os micros, pequenos e médios empreendedores com simplicidade, compromisso, honestidade, coragem e disciplina. Estes são os meus maiores valores que carrego comigo.
      </p>
      <p>
        Minha missão é levar conhecimento das boas práticas de gestão contábil e tributária a todos os empresários e contadores que vierem a me procurar.
        Sou formada em Ciências Contábeis pela Universidade Mackenzie, com MBA em Recuperação de Créditos Tributários e Previdenciários pela BSSP, entre outros diversos cursos da área tributária e contábil.
      </p>
      <p>
        Meu Know-how vem da vivência de mais de 20 anos atuando no mercado contábil atendendo pequenas e médias empresas, mercado bastante carente de informação e de boas práticas de gestão.
      </p>
    </div>
  </div>

  <!-- Section: Marcia Ramos -->
  <div class="text-center my-5">
    <h4 class="color-custom">
      <i class="fa-solid fa-code"></i> Contadora Responsável
    </h4>
    <div class="card mx-auto" style="width: 18rem;">
      <%= image_tag "marcia2.jpeg", class: "card-img-top" %>
      <div class="card-body">
        <h5>Marcia Ramos</h5>
        <p class="card-text">CEO da Integratax</p>
        <p class="card-text">
          <a class="purple-underscore me-2" href="https://www.linkedin.com/in/william-rocha-b78b7b197/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a class="purple-underscore" href="https://www.instagram.com/wiilliamdrocha/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
            <a class="purple-underscore" href="https://www.instagram.com/wiilliamdrocha/" target="_blank">
           <i class="fa-brands fa-youtube"></i>
          </a>
        </p>
      </div>
    </div>
  </div>

  <!-- Section: Mission, Values, Vision -->
  <div class="row mt-5">
    <div class="col-md-6">
      <h2 class="color-custom mt-5 mb-4">Nossos Valores</h2>
      <p>
        A Integratax como empresa contábil, por ser detentora de um vasto conhecimento sobre as leis e operações contábeis/tributárias, é um parceiro estratégico do empresário(a), tendo como valores que permeiam nossa conduta: ética profissional, honestidade, transparência na informação, responsabilidade, compromisso, integridade.
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="color-custom mt-5 mb-4">Visão</h2>
      <p>
        Ser o braço direito dos micros, pequenos e médios empreendedores, proporcionando o melhor atendimento, agilidade e satisfação dos clientes em suas necessidades.
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="color-custom mt-5 mb-4">Missão</h2>
      <p>
        Nossa missão como empresa contábil é trazer clareza e educação aos empresários, quanto é importante a gestão dia a dia, fazendo-os enxergar o quanto que as boas práticas de governança e compliance ajudarão no crescimento de uma sociedade justa e igualitária.
      </p>
    </div>
    <div class="col-md-6">
      <h2 class="color-custom mt-5 mb-4">Valores</h2>
      <p>
        A Integratax como empresa contábil, por ser detentora de um vasto conhecimento sobre as leis e operações contábeis/tributárias, é um parceiro estratégico do empresário(a), tendo como valores que permeiam nossa conduta: ética profissional, honestidade, transparência na informação, responsabilidade, compromisso, integridade.
      </p>
    </div>
  </div>
</div>
