<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
 content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="<%= asset_path 'styles.css' %>">
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>O QUE <span class="highlight">VOCÊ</span> VAI FAZER</h2>
            <ul>
                <li>Emitir as notas fiscais e importar seu extrato mensal na nossa plataforma.</li>
                <li>Resolver as suas dúvidas com nosso atendimento.</li>
            </ul>
        </div>
        <div class="column">
            <h2>O QUE <span class="highlight">NÓS</span> VAMOS FAZER</h2>
            <ul>
                <li>Entregamos uma contabilidade completa.</li>
                <li>Mantemos a sua empresa em dia com todas as obrigações do governo, com o IRPJ incluso.</li>
                <li>Disponibilizamos nosso atendimento rápido por diversos canais: telefone, WhatsApp, chat e e-mail.</li>
                <li>Disponibilizamos nosso emissor gratuito de nota fiscal e boleto.</li>
                <li>Calculamos as guias de impostos, folha de pagamento e pró-labore.</li>
                <li>Fazemos e assinamos relatórios contábeis como o balanço, DRE e muitos outros.</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <img src="<%= asset_path 'house-icon.png' %>" alt="House Icon" class="icon">
        <p>Economize mais de 80% por mês.</p>
    </div>
</body>
</html>
