/* Exemplo: app/assets/stylesheets/application.css */

.navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; /* Aumente ou diminua este valor conforme necessário */
}

.navbar-nav .nav-link:hover {
  font-size: 20px; /* Aumente o tamanho da fonte ao passar o mouse, se desejar */
}

.navbar-brand .logo {
  height: 120px; /* Aumentado o tamanho do logo */
}

/* Estilos personalizados para o dropdown */
.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.dropdown-item {
  font-size: 16px;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Cor de fundo ao passar o mouse */
  border-radius: 10px;
}

.dropdown-item i {
  margin-right: 10px; /* Espaçamento entre ícone e texto */
}
